1@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;

}

.button{
  width: 55px;
  padding:20px;
  margin:0 3px;
  border:2px solid black;
  border-radius: 8px;
 cursor:pointer;
}
.row{
  margin:5px 0;
}
